[Video Tutorial link](https://www.youtube.com/watch?v=9TEFbe3YkHE&list=PLscTjKy2_0Kndu9O8opOBlUVqJZgELAP8)

### 1. Data Store

![alt text](julia_data.png)

DataFrame is also custom data types created using Struct developed by Bogumił Kamiński in project DataFrames.jl package

In [1]:
using DataFrames

In [2]:
# store the data
df = DataFrame(
"x" => [1,2,5],
"y" => [7,8,9],
"z" => [5,2,3]
)

3×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      7      5
   2 │     2      8      2
   3 │     5      9      3

### 2. Data Compute

![alt text](julia_compute.png)

#### 2.1 Data Access

In [3]:
# you can access data by variables
a = 5

5

In [4]:
a # return 5

5

In [5]:
# df is variable to dataframe
df  # access whole dataframe

3×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      7      5
   2 │     2      8      2
   3 │     5      9      3

In [6]:
# under the hood dataframe is made up array so you can access by index
df[1:end, 1:end] # access whole dataframe

3×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      7      5
   2 │     2      8      2
   3 │     5      9      3

In [7]:
# access Ist column e.g x
df[1:end, 1:1]

3×1 DataFrame
 Row │ x
     │ Int64
─────┼───────
   1 │     1
   2 │     2
   3 │     5

In [8]:
df[:, 1]

3-element Vector{Int64}:
 1
 2
 5

In [9]:
df.x

3-element Vector{Int64}:
 1
 2
 5

In [10]:
# access 1st element of column1
df[1:1, 1:1] # return dataframe

1×1 DataFrame
 Row │ x
     │ Int64
─────┼───────
   1 │     1

In [11]:
df[:, 1][1] # return integer

1

In [12]:
df.x[1] # return integer

1

In [13]:
# access 1st row
df[1:1, 1:end]

1×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      7      5

In [21]:
# access column names
names(df)

3-element Vector{String}:
 "x"
 "y"
 "z"

#### 2.2 Data Compute

Operators

![alt text](operators.png)

In [24]:
df

3×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      7      5
   2 │     2      8      2
   3 │     5      9      3

In [14]:
# change 1st element of col1 to 10
## df.x[1] = 10  OR df.x[1] + 9
df.x[1] + 9 # using Arithematic operator

10

In [15]:
df.x[1] = df.x[1] + 9

10

In [16]:
df

3×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    10      7      5
   2 │     2      8      2
   3 │     5      9      3

In [31]:
# ohter Arithematic operator
df.x[1]/10

1.0

In [32]:
df.x[1]^2

100

In [33]:
# dot operator:- use for vectorization
df.z .+ 9

3-element Vector{Int64}:
 14
 11
 12

In [34]:
df.z .* 10

3-element Vector{Int64}:
 50
 20
 30

In [35]:
for i in 1:3
    println(df.z[i] * 10)
end

50
20
30

In [37]:
# comparison
5 < 6

true

Function

![alt text](functions.png)

In [2]:
x = 5

5

In [3]:
y = 6

6

In [4]:
x + y

11

In [5]:
# name of set 3 statement
function add2(x, y)
    x + y
end

add2 (generic function with 1 method)

In [6]:
add2(5,6)

11

In [7]:
add2(5,6)

11

In [7]:
# function return last expression by default
function f(x,y)
    x + y
    x - y
end

f (generic function with 1 method)

In [8]:
f(3,2)

1

In [9]:
# explicit return
function f1(x,y)
    return x + y
    x - y
end

f1 (generic function with 1 method)

In [10]:
f1(3,2)

5

Loop

![alt text](loop.png)

In [2]:
a = [5,6,7]

3-element Vector{Int64}:
 5
 6
 7

In [3]:
for i in a
    println(i)
end

5
6
7

In [4]:
for i in 1:3
    println(a[i])
end

5
6
7

In [7]:
a = [5,6,7,8]

4-element Vector{Int64}:
 5
 6
 7
 8

In [8]:
for i in 1:4
    println(a[i])
end

5
6
7
8

In [9]:
a = [5,6,7,8,10]

5-element Vector{Int64}:
  5
  6
  7
  8
 10

In [10]:
for i in 1:5
    println(a[i])
end

5
6
7
8
10

In [11]:
a = [5,6,7]

3-element Vector{Int64}:
 5
 6
 7

In [13]:
for i in 1:length(a)
    println(a[i])
end

5
6
7

In [14]:
a = [5,6,7,8,9,10]

6-element Vector{Int64}:
  5
  6
  7
  8
  9
 10