### 1. Data Store

In [1]:
using DataFrames

Rohan went to kenya for do research on cat animals and collect some data.

In [2]:
df = DataFrame("Group" => ["Lgroup1", "Lgroup2", "Cgroup1", "Cgroup2", "Jgroup1", "Jgroup2", "Legroup1", "Legroup2"],
"Id" => [123, 451, 67, 98, 90, 91, 887, 944],
"avg_weight" => [138, 145, 45, 42, 78, 81, 35,26],
"avg_length" => [6.7, 7.1, 3.1, 3.4, 4.5, 5.2, 4.1, 4.6],
"hunt_tec" => ["crush neck", "crush neck", "speed", "speed", "put on trees", "put on trees", "jump", "jump"],
"meat_qty" => [15, 17, 5, 6, 40,39, 71, 69],
"hunt_freq" => [2, 3, 4,3, 14, 12, 1, 0],
"hunt_success_prob" => [0.3, 0.3,0.4, 0.4,0.27, 0.3, 0.2, 0.24 ])

8×8 DataFrame
 Row │ Group     Id     avg_weight  avg_length  hunt_tec      meat_qty  hunt_f ⋯
     │ String    Int64  Int64       Float64     String        Int64     Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Lgroup1     123         138         6.7  crush neck          15         ⋯
   2 │ Lgroup2     451         145         7.1  crush neck          17
   3 │ Cgroup1      67          45         3.1  speed                5
   4 │ Cgroup2      98          42         3.4  speed                6
   5 │ Jgroup1      90          78         4.5  put on trees        40         ⋯
   6 │ Jgroup2      91          81         5.2  put on trees        39
   7 │ Legroup1    887          35         4.1  jump                71
   8 │ Legroup2    944          26         4.6  jump                69
                                                               2 columns omitted

### 2. Data Compute

cheetah camera's id change from 67 to 77

In [3]:
df.Id[3] # data access

67

In [3]:
df.Id[3] = 77 # manipulate by operator

77

Rohan is free and go for causal walking. He find ziraffe want to know avg height of them.

In [2]:
data = [4.4, 5.6, 6.1] # data store

3-element Vector{Float64}:
 4.4
 5.6
 6.1

In [5]:
data[1] # data access

4.4

In [26]:
# manipulate
z = data[1] + data[2] + data[3] #sum
z = z/3 # avg
z

5.366666666666667

suppose u wanna perform same task many times e,g 50 times

In [3]:
function mean0(a)
    out = 0.0
    for i in a
        out += i
    end
    
    return out/length(a)
end

mean0 (generic function with 1 method)

In [4]:
mean0(data)

5.366666666666667

In [ ]:
mean0(other_data) # one line of code

In [4]:
df

8×8 DataFrame
 Row │ Group     Id     avg_weight  avg_length  hunt_tec      meat_qty  hunt_f ⋯
     │ String    Int64  Int64       Float64     String        Int64     Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Lgroup1     123         138         6.7  crush neck          15         ⋯
   2 │ Lgroup2     451         145         7.1  crush neck          17
   3 │ Cgroup1      77          45         3.1  speed                5
   4 │ Cgroup2      98          42         3.4  speed                6
   5 │ Jgroup1      90          78         4.5  put on trees        40         ⋯
   6 │ Jgroup2      91          81         5.2  put on trees        39
   7 │ Legroup1    887          35         4.1  jump                71
   8 │ Legroup2    944          26         4.6  jump                69
                                                               2 columns omitted

Lgroup2's id change from 451 to 345
Legroup2's id change from 944 to 765
Legroup1's id change from  887 to 721

In [4]:
df.Id[2] = 345
df.Id[8] = 765
df.Id[7] = 721

721

He convert weight into pounds 1 pound = 0.45 kg

In [5]:
# automatic do loop
df.avg_weight = df.avg_weight/0.45

8-element Vector{Float64}:
 306.6666666666667
 322.22222222222223
 100.0
  93.33333333333333
 173.33333333333334
 180.0
  77.77777777777777
  57.77777777777778

In [6]:
df

8×8 DataFrame
 Row │ Group     Id     avg_weight  avg_length  hunt_tec      meat_qty  hunt_f ⋯
     │ String    Int64  Float64     Float64     String        Int64     Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Lgroup1     123    306.667          6.7  crush neck          15         ⋯
   2 │ Lgroup2     345    322.222          7.1  crush neck          17
   3 │ Cgroup1      77    100.0            3.1  speed                5
   4 │ Cgroup2      98     93.3333         3.4  speed                6
   5 │ Jgroup1      90    173.333          4.5  put on trees        40         ⋯
   6 │ Jgroup2      91    180.0            5.2  put on trees        39
   7 │ Legroup1    721     77.7778         4.1  jump                71
   8 │ Legroup2    765     57.7778         4.6  jump                69
                                                               2 columns omitted

He compare animals groups. He observe that Lgroup1's hunt success increased by 0.02 Also Cgroup's hunt and Jgroup1 increased by 0.02

In [7]:
r = range(1, step = 2, stop = 5)
for i in r
    df.hunt_success_prob[i] += 0.02
end

In [8]:
df

8×8 DataFrame
 Row │ Group     Id     avg_weight  avg_length  hunt_tec      meat_qty  hunt_f ⋯
     │ String    Int64  Float64     Float64     String        Int64     Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Lgroup1     123    306.667          6.7  crush neck          15         ⋯
   2 │ Lgroup2     345    322.222          7.1  crush neck          17
   3 │ Cgroup1      77    100.0            3.1  speed                5
   4 │ Cgroup2      98     93.3333         3.4  speed                6
   5 │ Jgroup1      90    173.333          4.5  put on trees        40         ⋯
   6 │ Jgroup2      91    180.0            5.2  put on trees        39
   7 │ Legroup1    721     77.7778         4.1  jump                71
   8 │ Legroup2    765     57.7778         4.6  jump                69
                                                               2 columns omitted

Cgroup1's meat qty increased by 1 Jroup1 and jgroup2 + by 1

In [9]:
for i in [3, 5, 6]
    df.meat_qty[i] += 1
end

In [10]:
df

8×8 DataFrame
 Row │ Group     Id     avg_weight  avg_length  hunt_tec      meat_qty  hunt_f ⋯
     │ String    Int64  Float64     Float64     String        Int64     Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Lgroup1     123    306.667          6.7  crush neck          15         ⋯
   2 │ Lgroup2     345    322.222          7.1  crush neck          17
   3 │ Cgroup1      77    100.0            3.1  speed                6
   4 │ Cgroup2      98     93.3333         3.4  speed                6
   5 │ Jgroup1      90    173.333          4.5  put on trees        41         ⋯
   6 │ Jgroup2      91    180.0            5.2  put on trees        40
   7 │ Legroup1    721     77.7778         4.1  jump                71
   8 │ Legroup2    765     57.7778         4.6  jump                69
                                                               2 columns omitted